myapp/Thumbs.db
myapp/.DS_Store
myapp/.gradle
myapp/build/
myapp/out/
myapp/.idea
myapp/*.iml
myapp/*.ipr
myapp/*.iws
myapp/.project
myapp/.settings
myapp/.classpath
myapp/Thumbs.db
myapp/.DS_Store
myapp/.gradle
myapp/build/
myapp/.idea
myapp/*.iml
myapp/*.ipr
myapp/*.iws
myapp/.project
myapp/.settings
myapp/.classpath

myapp-client/dist
myapp-client/tmp
myapp-client/node_modules
myapp-client/bower_components
myapp-client/.sass-cache
myapp-client/connect.lock
myapp-client/coverage/*
myapp-client/libpeerconnection.log
myapp-client/npm-debug.log*
myapp-client/yarn-error.log
myapp-client/testem.log
myapp-client/.node_modules.ember-try/
myapp-client/bower.json.ember-try
myapp-client/package.json.ember-try
